@import "tailwindcss";

:root {
  --glr-lime: #8fe507;
  --glr-black: #000000;
  --glr-white: #ffffff;
}

.bg-lime {
  background-color: var(--glr-lime);
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f3f4f6;
}

/* ensure full-height mounting so flex layout fills viewport */
html, body, #app {
  height: 100%;
}

.font-oswald { font-family: 'Oswald', sans-serif; }
.font-inter { font-family: 'Inter', sans-serif; }

/* Verberg scrollbar maar behoud functionaliteit */
.scrollbar-hide::-webkit-scrollbar { display: none; }
.scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; }


.slide-up-enter-active,
.slide-up-leave-active {
  transition: transform 0.3s ease-in-out;
}

.slide-up-enter-from,
.slide-up-leave-to {
  transform: translateY(100%);
}
